*,::after,::before{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header{
    background-color: coral;
    height: 5vh;
}

main{
    background-color: aquamarine; 
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.item{
    background-color: hotpink;
    width: 50%;
}

.item2{
    background-color: dodgerblue;
    width: 50%;
}


footer{
    height: 5vh;
    background-color: brown;
}


