*,::after,::before{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header{
    background-color: aqua;
    height: 5vh;
}

main{
    background-color: aquamarine; 
    height: 90vh;
}

footer{
    height: 5vh;
    background-color: brown;
}


